torch==2.1.0
opencv==4.9.0
matplotlib==3.8.2
numpy==1.24.4
pandas==2.1.4
open3d==0.16.0
pynput==1.7.6
Pillow==9.5.0
scikit-learn==1.2.1
scipy==1.11.3
tensorboard==2.14.1
torchvision==0.16.0
tqdm==4.65.2
mmdet3d==1.2.0
mmengine==0.9.0
mmdet==3.1.0
mmcv==2.0.1

